*.log
*.aux
*.pdf
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.run.xml
*-blx.bib
*.dvi
*.nav
*.out
*.snm
*.toc
__pycache__
simulation/figure_intermediates/*
simulation/figure_outputs/*
simulation/test_outputs/*
simulation/pickle_dir/*
simulation/analysis/*
compile_README_pdf.sh
README.pdf
*.tar.gz
